.login {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .singIn-header {
    &-title {
      font-size: 2rem;
      color: $primaryColor;
    }

    &-description{
        
    }
  }

  .signIn-form {
    display: flex;
    flex-direction: column;
  }
}

.image {
  width: 50%;
  height: 100vh;
  background-image: url("../../../images/Login.png");
  object-fit: cover;
}
