.main {
  display: flex;
}
.login {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: pxToRem(100);

  @media screen and (max-width: 750px) {
    width: 100%;
  }

  

  .signUp-header {
    @extend .signIn-header;
    display: none;

    &-title {
      font-size: pxToRem(32);
      color: $primaryColor;
      margin-bottom: pxToRem(16);
    }

    &-description {
      font-size: pxToRem(14);
    }
  }

  .signUp-form {
    @extend .signIn-form;
    display: none;

    .signUp-form-nameContainer {
      display: flex;
      justify-content: space-between;
      margin-bottom: pxToRem(16);
      input {
        width: pxToRem(171);
      }
    }

    #signUpEmail,
    #signUpPassword,
    #confirmPassword {
      margin-bottom: pxToRem(16);
    }

    .terms {
      display: flex;
      width: pxToRem(358);
      height: pxToRem(32);
      justify-content: space-between;
      align-items: center;
      margin-bottom: pxToRem(72);

      p {
        font-size: pxToRem(14);
      }

      input {
        display: none;
        opacity: 0;
      }

      input:checked + label {
        background-color: $lightColor;
        border: 2px solid $primaryColor;
      }

      input:checked + label .terms-description-sign {
        display: block;
      }

      label {
        position: relative;
        width: pxToRem(32);
        height: pxToRem(32);
        background-color: $backgroundColor;
        border-radius: pxToRem(8);

        .terms-description-sign {
          position: absolute;
          display: none;
          top: 7px;
          left: 5px;
        }
      }
    }
  }
}

.image {
  width: 50%;
  height: 100vh;

  object-fit: cover;

  @media screen and (max-width: 750px) {
    display: none;
  }

  @media screen and (max-height: 800px) {
    position: fixed;
    right: 0;
    top: 0;
  }
}

.email {
  position: relative;

  &-icon {
    position: absolute;
    top: pxToRem(16);
    right: pxToRem(16);
  }
}

.password {
  position: relative;

  &-show {
    position: absolute;
    top: pxToRem(16);
    right: pxToRem(16);
    cursor: pointer;
  }

  &-hidden {
    @extend .password-show;
    display: none;
  }
}
