.signIn-header {
  text-align: center;
  margin-bottom: pxToRem(16);

  .singIn-header-title {
    font-size: pxToRem(32);
    color: $primaryColor;
    margin-bottom: pxToRem(16);
    font-weight: 800;
  }

  .singIn-header-description {
    font-size: pxToRem(14);
    font-weight: 600;
    color: $secondaryColor;
  }
}

.signIn-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  input {
    width: pxToRem(358);
    height: pxToRem(64);
    background-color: $backgroundColor;
    border-radius: pxToRem(16);
    border: none;
    padding: pxToRem(24);

    &:focus {
      outline-color: $primaryColor;
    }
  }

  #signInEmail {
    margin-bottom: pxToRem(16);
  }

  #signInPassword {
    margin-bottom: pxToRem(72);
  }
}

.email {
  position: relative;

  &-icon {
    position: absolute;
    top: pxToRem(16);
    right: pxToRem(16);
  }
}

.password {
  position: relative;

  &-show {
    position: absolute;
    top: pxToRem(16);
    right: pxToRem(16);
    cursor: pointer;
  }

  &-hidden {
    @extend .password-show;
    display: none;
  }
}
