

$primaryColor : #2A41CB;
$secondaryColor : #717171;
$tertiaryColor : #848A8D;
$lightColor : #ffffff ;
$darkColor : #000000;
$backgroundColor : #F5F6F8;


@media screen and (color-scheme : dark) {
    
}