@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.button {
  background-color: #2A41CB;
  color: #ffffff;
  border: none;
  box-shadow: 0 0 16px 2px rgba(42, 65, 203, 0.4);
  cursor: pointer;
}
.button-lg {
  width: 22.375rem;
  height: 4rem;
  border-radius: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.toggle-Container {
  margin-bottom: 2.5rem;
}
.toggle-Container input {
  opacity: 0;
  display: none;
}
.toggle-Container #toggle-login:checked + label .toggle-button {
  transform: translateX(177px);
}
.toggle-Container label {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 22.375rem;
  height: 3.9375rem;
  background-color: #F5F6F8;
  border-radius: 1rem;
}
.toggle-Container span {
  z-index: 10;
}
.toggle-Container #toggle-login-signIn {
  font-weight: 600;
}
.toggle-Container #toggle-login-signUp {
  font-weight: 600;
  color: #848A8D;
}
.toggle-Container .toggle-button {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 10.8125rem;
  height: 3.4375rem;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 0.75rem;
  transition: transform 0.4s;
}

.main {
  display: flex;
}

.login {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.25rem;
}
@media screen and (max-width: 750px) {
  .login {
    width: 100%;
  }
}

.image {
  width: 50%;
  height: 100vh;
  object-fit: cover;
}
@media screen and (max-width: 750px) {
  .image {
    display: none;
  }
}
@media screen and (max-height: 800px) {
  .image {
    position: fixed;
    right: 0;
    top: 0;
  }
}

.email {
  position: relative;
}
.email-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.password {
  position: relative;
}
.password-show, .password-hidden {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.password-hidden {
  display: none;
}

.signIn-header, .signUp-header {
  text-align: center;
  margin-bottom: 1rem;
}
.signIn-header .singIn-header-title, .signUp-header .singIn-header-title {
  font-size: 2rem;
  color: #2A41CB;
  margin-bottom: 1rem;
  font-weight: 800;
}
.signIn-header .singIn-header-description, .signUp-header .singIn-header-description {
  font-size: 0.875rem;
  font-weight: 600;
  color: #717171;
}

.signIn-form, .signUp-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signIn-form input, .signUp-form input {
  width: 22.375rem;
  height: 4rem;
  background-color: #F5F6F8;
  border-radius: 1rem;
  border: none;
  padding: 1.5rem;
}
.signIn-form input:focus, .signUp-form input:focus {
  outline-color: #2A41CB;
}
.signIn-form #signInEmail, .signUp-form #signInEmail {
  margin-bottom: 1rem;
}
.signIn-form #signInPassword, .signUp-form #signInPassword {
  margin-bottom: 4.5rem;
}

.signUp-header {
  display: none;
}
.signUp-header-title {
  font-size: 2rem;
  color: #2A41CB;
  margin-bottom: 1rem;
}
.signUp-header-description {
  font-size: 0.875rem;
}

.signUp-form {
  display: none;
}
.signUp-form .signUp-form-nameContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.signUp-form .signUp-form-nameContainer input {
  width: 10.6875rem;
}
.signUp-form #signUpEmail,
.signUp-form #signUpPassword,
.signUp-form #confirmPassword {
  margin-bottom: 1rem;
}
.signUp-form .terms {
  display: flex;
  width: 22.375rem;
  height: 2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.5rem;
}
.signUp-form .terms p {
  font-size: 0.875rem;
}
.signUp-form .terms input {
  display: none;
  opacity: 0;
}
.signUp-form .terms input:checked + label {
  background-color: #ffffff;
  border: 2px solid #2A41CB;
}
.signUp-form .terms input:checked + label .terms-description-sign {
  display: block;
}
.signUp-form .terms label {
  position: relative;
  width: 2rem;
  height: 2rem;
  background-color: #F5F6F8;
  border-radius: 0.5rem;
}
.signUp-form .terms label .terms-description-sign {
  position: absolute;
  display: none;
  top: 7px;
  left: 5px;
}

/*# sourceMappingURL=styles.css.map */
